<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>틱택토</title>
<style>
  table {
    border-collapse: collapse;
  }

  td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
  }
</style>
</head>

<body>
    <script>
        const { body } = document; // 구조분해 할당
        const $table = document.createElement('table'); // 먼저 요소를 생성해주자.
        const $div = document.createElement('div');
    
        const row = [];
        let turn = "O";


        const checkWinner = (target) => { // 승자를 파악해보는 것이니깐 참, 거짓 조건식이다. 변수를 활용
            let rowIndex;
            let cellIndex;
            row.forEach((rows, ri) => {   // forEach는 배열 요소를 함수를 적용시켜서 원하는 값으로 반환해주는 것. 여기서는 이차원 배열의 각 행을 우선 선택 (행 역시 배열로 이루어짐 -> 한번 더 forEach)
                rows.forEach((cell, ci) => { // 인덱스값을 구하자.
                    if(cell === target){  //target (추후 event.target(td) 이 될것임.) 과 cell (row에서 가져왔으니 결국 td) 같다면 그 때의 인덱스를 표현해준다.
                        rowIndex = ri;
                        cellIndex = ci;
                    }
                })
            });

            // const rowIndex = target.parentNode.rowIndex;   -> target이 현재 td 이며 이 요소의 부모는 tr 이고, 이때 tr 의 행 인덱스를 가져다주는 메서드다.
            // const cellIndex = target.cellIndex;  -> target(td) 의 열 인덱스를 가져다 주는 메서드다.

            let hasWinner = false; // 조건 검사할 때 많이 쓰는 방법인데, 우선 거짓으로 해놓고 일정 조건 만족 시 참으로 반환시켜버린다. 조건 만족 안하면 거짓으로 return.
            console.log(row);
            //가로줄 검사
            if(
                row[rowIndex][0].textContent === turn &&
                row[rowIndex][1].textContent === turn &&
                row[rowIndex][2].textContent === turn
            ){
                hasWinner = true;
            }

            //세로줄 검사
            if(
                row[0][cellIndex].textContent === turn &&
                row[1][cellIndex].textContent === turn &&
                row[2][cellIndex].textContent === turn
            ){
                hasWinner = true;
            }
            //대각선 검사
            if(
                row[0][0].textContent === turn &&
                row[1][1].textContent === turn &&
                row[2][2].textContent === turn
            ){
                hasWinner = true;
            }

            if(
                row[0][2].textContent === turn &&
                row[1][1].textContent === turn &&
                row[2][0].textContent === turn 
            ){
                hasWinner = true;
            }

            return hasWinner;
        }

        const callBack = (event) => {
            if(event.target.textContent !== ''){
                return;
            }
            // 빈칸이면
            event.target.textContent = turn;
            const Winner = checkWinner(event.target); // return 값이 hasWinner 다 (조건함수의 return 값은 참 거짓으로 해놓으면 좋다.) 따라서 함수 내에서 hasWinner의 참 거짓값이 결정되어서 return 되고, 이를 hasWinner가 역시 받는다.
            if(Winner){ // 사실 변수명을 꼭 hasWinner로 해줄건 없다. return 값을 다른 변수에 참조 선언 해줄것이며, 따라서 참조된 변수 역시 참 거짓을 판단할 수 있다.
                $div.textContent = `${turn}님이 승리`;
                $table.removeEventListener('click', callBack);
                return;
            }
            // 무승부
            const draw = row.flat().every((cell) => cell.textContent); // 1차원 배열로 해준다. 이후 every 사용하면 전부 함수조건에 해당할 때 true 반환.
            if(draw){
                $div.textContent = `무승부`;
                return;
            }

            // const draw = true
                // row.forEach((rows) => {
                //    rows.forEach((cell) => {
                    //   if(!cell.textContent){
                   //     draw = false;
                   // }
                // })
               // })

            turn = turn === "X" ? "O" : "X";
        };

    
        for(let i = 0; i < 3; i++){
            const $tr = document.createElement('tr');
            const cells = [];
            for(let j = 0; j < 3; j++){
                const $td = document.createElement('td');
                cells.push($td);
                $tr.append($td);
            }
            row.push(cells);
            $table.append($tr);
        }
        $table.addEventListener('click', callBack);
        body.append($table);
        body.append($div);
    </script>
</body>
</html>
